# Config
server/config.json

# Data files
server/projects.json
server/tasks.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Logs
server/logs/

# Environment
.env
.env.local
.env.*.local

# UI
ui/node_modules/
.ui/

# Misc
.DS_Store
*.log
